<header class="bg-azul">
  <div class="max-w-screen-xl px-4 mx-auto sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="md:flex md:items-center md:gap-12">
        <a class="block text-teal-300" href="/renovacionc/index">
          <span class="sr-only">Renovacion Cultural</span>
          <%= image_tag "LogoRenovacion.png" %>
        </a>
      </div>

      <div class="hidden md:block">
        <nav aria-labelledby="header-navigation">
          <h2 class="sr-only" id="header-navigation">Header navigation</h2>

          <ul class="flex items-center text-blanco gap-6 text-sm">
            <li>
              <a class="text-blanco transition hover:text-white/75" href="/">
                Inicio
              </a>
            </li>
            <li>
              <a class="text-blanco transition hover:text-white/75" href="/blog/index">
                Blog
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="flex items-center gap-4">
        <div class="sm:gap-4 sm:flex">
          <% if user_signed_in?%>
          <%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete, class: "px-5 py-2.5 text-sm font-medium text-blanco bg-gray-800 rounded-md bg-naranja", data: { turbo: false } %>
          <% else %>
          <a class="px-5 py-2.5 text-sm font-medium text-blanco bg-teal-600 rounded-md shadow bg-naranja"
            href="/users/sign_in">
            Iniciar sesión
          </a>

          <div class="hidden sm:flex">
            <a class="px-5 py-2.5 text-sm font-medium text-blanco bg-gray-800 rounded-md bg-naranja"
              href="/users/sign_up">
              Registrarse
            </a>
            <% end %>
          </div>
        </div>

        <div class="block md:hidden">
          <button class="p-2 text-white transition bg-gray-800 rounded hover:text-white/75">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24"
              stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
