<section class="bg-white">
  <div class="max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8">
    <div class="max-w-lg mx-auto text-center">
      <h2 class="text-3xl font-bold sm:text-4xl text-naranja">Conoce la Renovacion Cultural SENA</h2>
      <div class="flex justify-center pt-9">
       <iframe width="800" height="600" src="https://www.youtube-nocookie.com/embed/yEOtoDEoNJA?controls=0"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>

<section class="bg-naranja">
  <div class="max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8">
    <div class="max-w-lg mx-auto text-center">
      <h2 class="text-3xl font-bold sm:text-4xl text-blanco">Gestores de la Renovacion Cultural SENA</h2>
      <div class="flex justify-center pt-9">
        <iframe width="800" height="600" src="https://www.youtube-nocookie.com/embed/5hsx848vhtw?controls=0"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
