<div class="container mt-5 pt-5" id="medium" data-controller="blog">
    <div class="jumbotron text-center">
        <div id="logo"></div>
        <h1 class="display-4 mb-3">Nuestras publicaciones</h1>
        <a class="btn btn-outline-primary btn-lg mt-5 mb-5" href="https://medium.com/@renovacionculturalctmae" target="_blank" role="button">Ver todas las publicaciones</a>
    </div>
    <div class="row" id="jsonContent">
    </div>
</div>
